<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sterix.sterixmobile">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServiceOrdersActivity"
            android:label="@string/service_orders"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".TasksActivity"
            android:label="@string/title_activity_tasks"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AcknowledgementActivity"
            android:label="@string/title_activity_acknowledgement"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MonitoringActivity"
            android:label="@string/monitoring"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TreatmentActivity"
            android:label="@string/treatment"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AreaMonitoringActivity"
            android:label="@string/area_monitoring"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DeviceMonitoringActivity"
            android:label="@string/device_monitoring"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AreaAddFindingActivity"
            android:label="@string/add_findings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AreaViewFindingActivity"
            android:label="@string/view_findings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScanActivity"
            android:label="@string/scan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DeviceMonitoringSummaryActivity"
            android:label="@string/device_summary"
            android:screenOrientation="portrait"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sterix.sterixmobile.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".DeviceMonitoringPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DeviceMonitoringViewPhotoActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>